body {
    padding: 4.5rem;
    margin: 0;
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
    font-family: 'Inter', sans-serif;
  }

  .card {
    width: 400px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    /*** Efecto Glassmorphis ***/
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  
  .card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;

  }
  
  p, a {
    font-size: 1rem;
    text-align: justify;
  }
  
  a {
    color: #4d4ae8;
    text-decoration: none;
  }

  .shape {
    position: absolute;
    width: 150px;
    top: .5rem;
    left: .5rem;
  }